:root {
    --text-color: white;
    --secondary-text-color: black;
    --primary-background-color: lightcoral;
    --background-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
}

.todo-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.todo-title {
    background-color: var(--primary-background-color);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

.add-todo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.add-todo-item > input {
    width: 600px;
    height: 2rem;
    font-size: 1.5rem;
    padding: 0.3rem;
    text-align: center;
}

.todo-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.delete-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 2rem;
    background-color: var(--primary-background-color);
    color: var(--text-color);
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.dlt-btn {
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.item {
    display: flex;
    align-items: center;
    width: 600px;
    height: 2rem;
}

.todo-message {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    width: 100%;
}

.edit-input {
    background-color: var(--primary-background-color);
    font-size: 1.5rem;
    width: 100%;
    padding: 0.3rem;
    /*text-align: center;*/
    border: none;
    outline: none; /* Removes the default browser outline */
    box-shadow: none; /* Removes the default browser shadow */
    appearance: none; /* Removes the default browser appearance */
    -webkit-appearance: none; /* Removes the default browser appearance for Safari */
    -moz-appearance: none; /* Removes the default browser appearance for Firefox */
}

.indicator {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    margin-right: 0.1rem;
    border-radius: 40%;
}

.indicator.completed {
    background-color: lightgreen;
}

.indicator.due {
    background-color: orangered;
}